.nav {
    display: flex;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    justify-content: space-around;
    color: rgb(87, 87, 188);
    align-items: center;
  
    /* height: 2%;
  padding: 2%;
  margin-bottom: 2%; */
  
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
     /* -webkit-box-shadow: 0 0 7px rgb(0 0 0 / 30%); */
    box-shadow: 0 0 7px rgb(0 0 0 / 30%);
    background-color: #f9f9f9;
  }

  form{
    display: flex;
    width: 100%
    /* justify-content: ; */
    }

  .Atitle {
    text-decoration: none;
    color: gray;
  }

  .nav div {
    border: 1px solid rgb(171, 169, 169);
    border-radius: 5%;
    width: 25%;
    display: flex;
    justify-content: space-between;
    height: 30px;
  }
  .nav input {
    /* margin-left: 5%; */
    padding-left: 2%;
    border: none;
    width: 90%;
  }
  .nav button {
    border: none;
  }

  #cart-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5px;
  }

  #cart-container>div {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #cart-container img {
   
    width: 100%;
    border-radius: 25%;
  }

  .total{
    /* margin-top: 8%; */
    text-align: center;
  }
  